---
interface Props {
    // Producto
    productName: string;
    productResume: string;
    productExamples: string[];
    productBenefits: string[];
    imageSpecificProduct: ImageMetadata;
    altImageSpecificProduct: string;

    // Medida de product
    productInfo: string[];
    sizes: string[][];
}
const {
    productName,
    productResume,
    productExamples,
    productBenefits,
    imageSpecificProduct,
    altImageSpecificProduct,
    productInfo,
    sizes,
} = Astro.props;

// Components
import Image from "astro/components/Image.astro";
---

<!-- Description | Imagen | Specifications -->
<div class="flex flex-col m-2 mb-4 p-4 gap-4">
    <div class="flex lg:flex-row w-full">
        <!-- Presentación -->
        <div>
            <div class="row-span-2 flex flex-col gap-4 leading-8">
                <h2 class="size-s-3 lg:text-6xl font-extrabold primary-text">
                    {productName.toUpperCase()}
                </h2>
                <p>{productResume}</p>
            </div>
        </div>
    </div>

    <!-- Imagen del producto -->
    <div>
        <div class="flex justify-center items-center">
            <Image
                src={imageSpecificProduct}
                alt={altImageSpecificProduct}
                class="w-full h-80 object-contain"
            />
        </div>
    </div>

    <div class="grid grid-cols-2 justify-evenly lg:flex-row w-full">
        <!-- Ejemplos de uso -->
        <div>
            <div class="flex flex-col gap-3 leading-8">
                <h3 class="underline">Ejemplo de uso</h3>
                {
                    productExamples.map((example, index) => (
                        <span class="pl-6">
                            {index + 1}. {example}
                        </span>
                    ))
                }
            </div>
        </div>

        <!-- Beneficios de nuestro producto -->
        <div>
            <div class="flex flex-col gap-4 leading-8">
                <!-- Beneficios -->
                <div class="flex flex-col gap-3">
                    <h3 class="underline">Beneficios</h3>
                    {
                        productBenefits.map((benefit, index) => (
                            <span class="pl-6">
                                {index + 1}. {benefit}
                            </span>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Presentación de productos -->
    <div class="col-span-2 h-fit">
        <div class="md:flex col-span-2">
            <div class="md:flex-1 md:relative md:overflow-x-auto">
                <h2 class="size-s-3 lg:text-6xl font-bold secundary-text">
                </h2>
                <div>
                    <div class="relative overflow-x-auto w-full">
                        <table
                            class="w-full table-auto text-sm text-left rtl:text-right text-gray-500 border-collapse"
                        >
                            <thead
                                class="text-xs text-gray-700 uppercase border-b border-black border-solid border-opacity-5"
                            >
                                <tr>
                                    {
                                        productInfo.map((info) => {
                                            return (
                                                <th
                                                    scope="col"
                                                    class="px-4 py-3 whitespace-nowrap text-center"
                                                >
                                                    {info}
                                                </th>
                                            );
                                        })
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                {
                                    sizes.map((row) => (
                                        <tr class="bg-white border-b ">
                                            {row.map((specification, index) => (
                                                <td
                                                    class={`px-4 py-2 whitespace-nowrap ${index === 0 ? "font-extrabold text-black" : "text-center"}`}
                                                >
                                                    {specification}
                                                </td>
                                            ))}
                                        </tr>
                                    ))
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
